@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");

body {
  background-color: antiquewhite;
  font-family: "Edu NSW ACT Foundation", cursive;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: bisque;
}

.container {
  width: 30vw;
  height: 75vh;
  background-color: bisque;
  border-radius: 20px;
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
}

.email,
.password,
.sign-up,
.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
  gap: 12px;
  font-family: "Edu NSW ACT Foundation", cursive;
}

input {
  width: 225px;
  height: 24px;
  border-radius: 10px;
  text-align: center;
  border: none;
  position: relative;
  color: black;
}

input:hover,
.submit:hover {
  cursor: pointer;
  border: 2px solid;
}

.email,
.password {
  width: 75%;
  height: 50%;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Edu NSW ACT Foundation", cursive;
}

form.formInout {
  padding-top: 24px;
}

.un:focus,
.password:focus {
  border: black !important;
}

.container-submit {
  display: flex;
  justify-content: center;
}

.sign-up {
  display: flex;
  justify-content: center;
}

.sign-up a {
  text-decoration: underline;
}

.submit {
  cursor: pointer;
  border-radius: 12px;
  color: #fff;
  background: black;
  border: 0;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 12px;
  display: flex;
  padding: 10px;
  margin-top: 10px;
  width: 50%;
  height: 30%;
  justify-content: center;
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #146c94;
  padding-top: 12px;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #146c94;
  text-decoration: none;
}

@media (max-width: 600px) {
  .container {
    border-radius: 0px;
    width: 100%;
  }
}
